@import "../../../styles/variables";

.error {
  width: 80%;
  background: $dark-blue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border-radius: 6px;
   h1, p {
     text-align: center;
     color: $white;
     margin-bottom: 10px;
   }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}
