
<div class="container table-section">
  <div class="filter-wrap">
    <h4>Filter</h4>
    <input type="text" [(ngModel)]="searchStr">
  </div>
  <div class="table-wrap">
    <table>
        <thead>
          <th
            #th
            *ngFor="let elem of tableData;let i = index"
            [attr.data-sort-type]="elem.sortType"
            [attr.data-name]="elem.key"
            (click)="sortHandler(th)"
            [ngClass]="{
              'num': i === 0
            }"
          >
            <div class="th-content">
              <div class="th-text">
                {{elem.name}}
              </div>
              <div class="sort-icons" *ngIf="sortKey !== elem.key">
                <span class="material-icons up" >arrow_drop_up</span>
                <span class="material-icons down">arrow_drop_down</span>
              </div>
              <div class="sort-icons" *ngIf="sortKey == elem.key && sortOrder === 1">
                <span class="material-icons up">arrow_drop_up</span>
              </div>
              <div class="sort-icons" *ngIf="sortKey == elem.key && sortOrder === 2">
                <span class="material-icons down">arrow_drop_down</span>
              </div>
            </div>
          </th>
        </thead>
        <tbody>
            <tr *ngFor="let item of items | search: searchStr">
                <td *ngFor="let elem of tableData; let i = index" [ngClass]="{'num': i === 0}" [attr.aria-label]="elem.name">
                  {{item[elem.key]}}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
