@import "../../../styles/variables";
.table-section {
  min-height: 500px;
}
.filter-wrap {
  margin: 50px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h4 {
    font-size: 20px;
  }
  input {
    border: 1px solid #B6B6B6;
    width: 300px;
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
  }
}

.table-wrap {
  width: 100%;
  margin-bottom: 100px;
  background: #fff;
  color: #222;
  max-height: 350px;
  overflow-y: scroll;
  border-bottom: 2px solid #222;

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    thead th,
    tbody td {
      padding: 15px;
      border: 1px solid #ccc;
      font-weight: 600;
      font-size: 14px;
    }
    tbody tr:nth-child(odd) {
      background: #F7F7F7;
    }

    thead {
      th {
          padding: 0 20px;
          height: 50px;
          background: $dark-blue;
          color: #eee;
          text-align: center;
          position: sticky;
          top: -1px;

          .th-content {
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;
            .th-text {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .sort-icons {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 40px;
              position: relative;
              .up, .down {
                position: absolute;
                margin-left: 15px;
                //padding-left: 10px;
              }
              .up {
                top: 4px;
              }
              .down {
                bottom: 4px;
              }
            }
          }

          &:hover {
            cursor: pointer;
            background: #0A062D;
            transition: background-color .5s;
          }
        }
      }
    @media screen and (max-width: 520px) {
      thead {
        display: none;
      }
      tbody {
        tr {
          display: block;
          margin-bottom: 1rem;
          border-bottom: 2px solid #e8e9eb;

          td {
            text-align: right;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding:10px 20px;
            /* background: #000; */
            white-space: nowrap;
          }

          td.num {
            text-align: center;
            display: flex;
            justify-content: center;
            width: 100%;
            background: $dark-blue;
            color: $white;
          }

          td:before {
            content: attr(aria-label);
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 520px) {
  .table-wrap {
    max-height: 450px;
  }
}
